<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <title>MoviesNme</title>
</head>

<body>
  <div class="main-container">
    <header class="header">
      <div class="logo">MoviesNme</div>
      <nav class="navigation">
        <li>TV</li>
        <li>NEW SERIES</li>
        <li>MOVIES</li>
        <li>CLASSIC</li>
      </nav>
      <button class="register-btn">Register</button>
    </header>
      {{{ body }}}
    <footer>
      Copy right, all rights reserved
    </footer>

  </div>
</body>

</html>