<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/register.css">
  <title>MoviesNme</title>
</head>

<body>
  <div class="main-container">
    <header class="header">
      <a href="/" class="logo">MoviesNme</a>
      <nav class="navigation">
        <li><a href="#new-series">NEW SERIES</a></li>
        <li><a href="#new-movies">MOVIES</a></li>
        <li><a href="#classic-movies">CLASSIC</a></li>
      </nav>
        <button type="submit" class="register-btn"><a href="/login">Login</a></button>
    </header>
    <main class="body-container">
      {{{ body }}}
    </main>
    <footer>
      Copy right, all rights reserved
    </footer>
  </div>
</body>

</html>