  <div class="featured-movie">
    {{data.text}}
  </div>
  <section class="general-section general-section--new-series" id="new-series">
    <h1 class="section-title section-title--black">Top new series</h1>
    <p class="section-desc section-desc--black">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
    <div class="movies-list">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </section>

  <section class="general-section general-section--new-movies" id="new-movies">
    <h1 class="section-title section-title--darkblue">new movies</h1>
    <p class="section-desc section-desc--darkblue">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
    <div class="movies-list">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </section>

  <section class="general-section general-section--classic-movies" id="classic-movies">
      <h1 class="section-title section-title--white">classic movies</h1>
      <p class="section-desc section-desc--white">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      <div class="movies-list">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
      </div>
  </section>
