<section class="registration-w">
    <form action="/users/login" class="register-form" method="post">
      <input type="text" class="username" name="username" placeholder="Enter your username" required>
      <input type="password" class="password" name="password" placeholder="Enter your password" required>
      <button class="register-btn" type="submit">Login</button>
      <p class="have-account">Do not have an account? <a href="/register">Register</a></p>
  </form>
</section>