<section class="registration-w">
    <form action="/users/register" class="register-form" method="post">
      <input type="text" class="username" name="username" placeholder="Enter your username" required>
      <input type="password" class="password" name="password" placeholder="Enter your password" required>
      <button class="register-btn" type="submit">Register</button>
      <p class="have-account">Already have account? <a href="/users/login">Login</a></p>
  </form>
</section>